<div class="container-fluid">
  <h1>Sections for course: {{courseId}}</h1>
  <div *ngIf="isAdmin">
  <input [(ngModel)]="sectionName"
         placeholder="Section Name"
         class="form-control"/>
  <input [(ngModel)]="seats"
         placeholder="Seats"
         class="form-control"/>
  <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
    Add Section
  </button>
    <button (click)="editSection(sectionName, seats)" class="btn btn-success btn-block">
      Edit and Update Section
    </button>
  </div>

  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item">
      {{section.name}} {{section.seats}}
      <button *ngIf="isAdmin" (click)="populateField(section._id, section.name,section.seats)" class="float-right btn btn-warning">Edit</button>
      <button *ngIf="isAdmin" (click)="deleteSection(section)" class="float-right btn btn-danger">Delete</button>
      <button (click)="unenroll(section)" class="float-right btn btn-info">UnEnroll</button>
      <button (click)="enroll(section)" class="float-right btn btn-primary">Enroll</button>
    </li>
  </ul>
</div>
