<div class="container-fluid">
  <h1>Profile</h1>
  <input [(ngModel)]="user.username"
         placeholder="User Name"
         class="form-control"/>
  <input [(ngModel)]="user.password"
         placeholder="Password"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>

</div>
